.nav>li>a {
    padding: 15px;
    text-align: center;
}

input {
    width: 100%;
}

.navbar-gradient {
    background: rgba(226, 226, 226, 1);
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(254, 254, 254, 1) 100%);
    box-shadow: 0px -13px 45px -5px rgba(0, 0, 0, 0.75);
}

.main-dropdown {
    padding: 7px 25px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.img-wraper {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}

.img-wraper img,
.foto-product-min img {
    width: 100%;
}

.container {
    min-width: 320px;
}

.product {
    border: 1px solid lightslategray;
    padding: 20px;
    margin-bottom: 20px;
}

.img-item-wraper {
    width: 100%;
}

.price {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    color: lightcoral;
    font-size: 2em;
}

.stars {
    color: orange;
    font-size: 18px;
}

.tabs-prop {
    padding: 20px;
}

.media-object-small {
    height: 64px;
    width: 64px;
}

footer {
    margin-top: 40px;
    padding-bottom: 20px;
}

.player-button {
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;
}

.media-player {
    min-height: 50px;
    padding-top: 18px;
    border-radius: 5px;
    background-color: #e6e2eb;
}

.fotos-product-min {
    margin: 15px auto;
}

.foto-product-min {
    height: 64px;
    width: 64px;
    display: inline-block;
    margin-right: 15px;
}

.tab-content {
    padding-top: 20px;
}

#stop {
    opacity: 1;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 3000px;
    top: 0;
    transition: opacity 1s;
}

#stop h2 {
    padding: 15px
}

.stop-wraper {
    padding-top: 30px;
}

.tablet {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.75);
}

.tablet-blue {
    background-color: blue;
}

.block {
    display: inline-block;
}

#choose-city {
    cursor: pointer;
}

.input-checkbox {
    width: auto;
}

.main {
    min-height: calc(100vh - 150px);
}

@media only screen and (max-width: 335px) {
    .player-buttons {
        padding: 0;
    }
}

@media only screen and (max-width: 430px) {
    .main-img {
        width: 100%;
    }
    img.main-stop-img {
        width: 280px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-form .form-control {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .product {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main-stop-img {
        width: 500px;
    }
}

@media only screen and (max-width: 990px) {
    .form-control {
        margin-bottom: 15px;
    }
    .padding-null {
        padding: 0;
    }
}

@media (min-width: 900px) {
    div.modal-dialog-big {
        width: 900px;
    }
}